html {
  background-color: black;
}
.container {
  background-color: black;
  height: 100vh;
}

.header {
  margin: 4em 1em 1em 1em;
}

.header-title {
  margin: 0;
  color: grey;
  font-size: clamp(48px, 10vw, 128px);
  /* border: clamp(10px, 5vw, 40px) solid yellowgreen; */
}

.reminders {
  color: white;
  display: flex;
  background: tomato;

  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.reminders-list {
  background: thistle;
  width: 40%;
}

.list-element {
  list-style: none;
  font-size: clamp(24px, 5vw, 48px);
}

.reminders-add {
  background-color: grey;
  opacity: 80%;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 800;
  padding: 0.25em 0.5em;
}

.reminders-add:hover {
  cursor: pointer;
  opacity: 50%;
}
